body{
    margin: auto;
    overflow: scroll;
    overflow-x: hidden;
    font-family:'Poppins', sans-serif;
    width: 100%;
}

.theme-color {
    background-color: #ff6106;
}

@media (min-width: 1290px){
    .container{
        max-width: 1290px !important;
		margin: auto !important;
		height: 100%;
    }
}

.container {
    width: 100%;
}

.active {
    border-bottom: 4px solid #ff6106 !important;
}

.header {
    position: fixed;
    background-color: inherit;
    width: 100%;
    z-index: 4;
    background-color: #000;

}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    align-items: center;
    width: 95%;
    margin: auto;
}

.nav-links > ul {
    display: flex !important;
    align-items: center;
}

.nav-links > ul > li > a{
    text-decoration: none;
    color: #fff;
    list-style: none;
    font-size: 20px;
    margin: 20px;

}
.nav-links > ul > li {
	list-style: none;
	font-weight: 600;
}

.nav-links > ul > li > a:hover {
	border-bottom: 4px solid #ed661f;
	font-weight: 600;
}

.nav-links ul > li > .visited-link:visited {
	color: #fff;
	font-weight: 900;
}

.logo > h1 {
	color: white;
	cursor: pointer;
	font-weight: 700;
	font-size: 36px;
}

.btn {
    padding: 20px;
	border: none;
	color: #fff;
	font-size: 18px;
	font-weight: 600 !important;
	cursor: pointer;
}

.login-btn {
    background-color: #000;
	color: #fff;
	font-size: 18px;
	border: none;
	font-weight: 600;
	cursor: pointer;
	box-sizing: border-box;
}

.login-btn:hover{
    border-bottom: 4px solid #ed661f;
}

.get-started-btn {
	width: 20%;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
   
}

#welcome{
    width: 100%;
}

#welcome .img-element {
	width: inherit;
	position: relative;
	display: flex;
	align-items: center;
}

#welcome .img-element > img {
	width: inherit;
}

.description-container {
	display: block;
	position: absolute !important;
	top: 12rem;
}

.description-container .position-conta {
	
	align-items: center;
	width: 90%;
	margin: auto;
}
.description-container .position-conta > img {
	
	clear: left;
    width: 50%;
	float: right;
	box-sizing: border-box;
	padding-bottom: 89px;
}

.position-conta > h2 {
	font-weight: 700;
    box-sizing: border-box;
	margin-bottom: 5px;
	font-size: 40px;	
	
}

.position-conta > p {
	font-weight: 500;
	font-size: 18px;
}

#explor-btn {
	cursor: pointer;
	font-size: 30px;
	padding: 25;
}
.stats {
	position: absolute;
	display: flex;
	background-color: #fff;
	right: 0;
	bottom: 0;
	margin-right: 12%;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.stats .rates {
	justify-content: center;
	text-align: center;
	margin: 30px;
}
.stats .rates > p {
	font-weight: 650;
	font-size: 18px;
}